.cont {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* background: linear-gradient(#757F9A, #D7DDE8); */
}
.half1 {
    display: flex;
    flex-direction: column;
    flex: 3;
    align-items: center;
    justify-content: center;
}

/* .svg {
    width: 96px;
    height: 96px;
}

.svg svg {
    width: 100%;
    height: 100%;
    color: white;
    fill: white;
} */

.half2 {
    display: flex;
    flex-direction: column;
    flex: 2;
    align-items: center;
    justify-content: flex-start;
    margin: 0 20px;
}
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.main1 {
    display: flex;
    flex: 0;
}
.main2 {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    text-align: center;
    flex: 0;
    font-size: 40px;
    color: white;
    margin-bottom: 10px;
}
.text {
    font-size: 18px;
    color: white;
    margin-bottom: 5px;
}
.text_title {
    font-size: 30px;
    font-weight: 900;
    margin-bottom: 15px;
    color: white;
    text-align: center;
}
.text_subtitle {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 5px;
    color: white;
    text-align: center;
}
